
/* ----------------------------> navbar */

.navbar-nav {
    margin-bottom: 20px;
    font-weight: 500;
}

.navbar-dark .navbar-toggler:hover {
    background:rgba(0,0,0, .4);
}

.navbar {
    position: fixed;
    border: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 1;
}

.navbar .navbar-toggler {
    border: none; 
}

.navbar-toggler:active,
.navbar-toggler:focus  {    
    outline: none; 
    box-shadow:  0 0 0 1px orange;  
    } 

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255, .5);
}


body {
  background: url("assets/images/gray2.jpg") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#home-image1 {
  background: url("assets/images/gray1.jpg") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* ----------------------------> background-images */

