@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Oswald:wght@300;400;469;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


* {
    font-family:'Lato', sans-serif;
    color: #3e2944;
    font-size: 18px;
    padding: 0;
    border: 0;
    margin: 0;
    word-spacing: 1px;
    font-weight: 500;
}

@media screen and (max-width: 576px) {
    * {
        font-size: 16px;
    }
}

.row {
    margin-right: 0 !important; 
    margin-left: 0 !important; 
}

div > h5, 
section > h5,
.card-title,
.card-header { 
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
}

div > h6 {
    text-align: center;
    font-weight: 700;
}

span,
cite {
    font-weight: 700;
}

@media screen and (max-width: 576px) {
    div > h5,
    section > h5,
    .card-title,
    .card-header  {
        font-size: 18px;
    }
}

/* ----------------------------navbar */

a.nav-link {
    font-weight: 700;
}

.navbar-nav li{
  padding-left:8px;
  text-shadow: 2px -1px 5px black;
  
}

.nav { 
  margin-bottom: 0 !important; 
}

.navbar-brand {
    text-shadow: 2px 2px black;
    font-size: 1.5em !important;
    font-weight: bold;
    font-family: 'Kaushan Script';
    letter-spacing: 1px;
    color: whitesmoke;
}

.nav-link:hover {
    color: rgb(233, 233, 233) !important;
    -webkit-text-decoration: underline white !important;
            text-decoration: underline white !important;
}


/* ---------------------------background-images */

#start-image {
  height: 100vh;
  background: url("../images/gray1.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  }

@media screen and (max-width: 576px) {
    #start-image {
         background: url("../images/gray2.jpg") no-repeat center center;
    }
}

#about-image {
    background-image: url("../images/aikidotext.png");
    background-repeat: no-repeat;
    background-position: center;

}

 #schedule-image {
  height: 100vh;
  background: url("../images/moon.png") no-repeat center center;
  background-size: cover;
 }

 .contact-img {
     height: 100vh;
     background: url("../images/house.jpg") no-repeat center center;
     background-size: cover;
 }

/* ----------------------------text-box on start */

.text-boxed {
  background: rgba(255, 255, 255, 0.7);
  word-wrap: break-word;
  overflow: hidden;
  padding-top: 10px;
  font-weight: 500;
  font-size: 17px;
  border-radius: 10px;
}

.block-divider {
    background-color: #660033;
    width: 70px;
    height: 3px;
    margin: 0 auto;
    margin-bottom: 8px;
}

#info-p {
    padding-left: 10px;
    padding-right: 10px;
}

.info-container {
    padding-top: 180px;
}


@media screen and (max-width: 320px) {
    .info-container {
    padding-top: 70px;
    }
}

@media screen and (max-width: 576px) {

    .text-boxed {
        border-left: none;
    }

    #info-p {
    padding-left: 0;
    padding-right: 0;
    }

}

@media screen and (max-width: 375px) {
    div.container-fluid.info-container {
        padding-left: 0;
        padding-right: 0;
        }
    
    .text-boxed {
        border-radius: 0;
    }
}

/* ----------------------------buttons */

.btn.btn-outline-light {
    padding: 7px 17px;
    margin-top: 8px;
    font-family:'Lato', sans-serif;
    background-color: #660033;
    color: whitesmoke;
    font-weight: 600;
    letter-spacing: 1px;
    border: #660033 1px solid;
}

.btn.btn-outline-light:hover {
    background-color: whitesmoke;
    color: #660033;
    border: #660033 1px solid;
}

.navbar .navbar-toggler {
    border: none;
}

button.navbar-toggler {
    outline: 1px white !important;
}

.navbar-toggler:hover {
    background-color: #291d1d60; 
} 

.navbar-toggler.bg-index {
    background-color: rgba(0, 0, 0, .8); 
}

.navbar-toggler:active,
.navbar-toggler:focus {
    -webkit-box-shadow:1px 1px 1px 1px white;
            box-shadow:1px 1px 1px 1px white;
}

#font-toggler { 
    color: whitesmoke; 
    font-size: 28px;
}

/* ----------------------------about */

.about-container {
 padding-bottom: 50px;
 padding-top: 50px;
}

.col-about {
    padding-top: 30px;
    padding-bottom: 30px;
}

.row-about {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.font-color {
    color: #660033;
}

#fire-font {
    font-size: 22px;
}

@media screen and (min-width: 1400px) {
    .row-about {
        margin-right: 100px !important; 
        margin-left: 100px !important;
    }
}

@media screen and (max-width: 991px) {
    #about-image {
        background-image: none;
    }
    
    .about-container {
    padding-bottom: 0px;
    padding-top: 0;
    } 
}

@media screen and (max-width: 767px) {
   .col-sm-9 {
        margin: 0 auto;
    }

    .col-about {
    background: white; 
    }

    #about-image {
    background: #660033; 
    }
}

/* ----------------------------video */

.video-container {
    padding-top: 10vh; 
    padding-bottom: 7vh; 
}

#video-background-color {
    background: #e1e1e3;
}

/* ----------------------------qoute */

.qoute-container {
  border-top: 10px solid #660033;
  border-bottom: 10px solid #660033;
  background-color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 0;
}

#p-qoute {
    font-size: 25px;
    font-weight: bold;
}


@media screen and (max-width: 700px) {
    .qoute-container {
        padding-top: 5px;
    }

    #p-qoute {
        font-size: 18px;
    }
}

#qoute::before {
  font-family: FontAwesome;
  content: '\f10e'; 
  font-size: 30px;
}

/* ----------------------------gallery */

.gallery-background-color {
    background-color: #b4b4b9;
}

#carouselExampleControls {
    padding-top: 10vh;
    padding-bottom: 10vh;
    
}
   
.carousel-item {    /* copied code from here https://stackoverflow.com/questions/34425898/making-all-images-appear-with-the-same-height-in-bootstrap*/
    position: relative;
    padding-top: 70%;
    overflow: hidden;
}

.carousel-item > img {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
}
/* ----------------------------footer */

.container-footer {
  padding-top: 23px;
  padding-bottom: 11px;
  background-color: black;
}
    
.social-link  {
    display: inline;
    letter-spacing: 10px;
    font-size: 20px;
  }

.social-link a:hover,
.social-link i:hover {  
 color: #d682aa;
  text-decoration: none;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
  
.footer-p,
.social-link i {
    color: gray;
}

.container-copyright{
  background-color: #271B29;
  margin: 0;
  padding: 5px;
}

#copy-p {
    color: gray;
}


/* ----------------------------schedule */

.container.container-schedule {
    padding-top: 150px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 1;
}

table {
  width:100%;
  font-size: 18px;
  padding: 10px;
}

th, td {
  padding: 15px;
  font-weight: bold;
}

.fa-clock {
    color: rgb(175, 175, 175);
}

.t01 tr:nth-child(even) {    /* copied code from here and made some changes on it https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_id2 */
  background-color: rgba(255, 255, 255, 0.733);
}

.t01 tr:nth-child(odd) {
 background-color: rgb(241, 241, 241);
}

div.card {
    -webkit-box-shadow: 5px 5px 5px rgb(10, 10, 10);
            box-shadow: 5px 5px 5px rgb(10, 10, 10);
    border: none;
}

.card.card1 {
  background-color: #26263f;
}

.card.card2 {
  background-color: #541e36; 
}

.card-header {
    color: rgb(175, 175, 175);
    text-shadow: 5px 5px 5px rgb(10, 10, 10);
}

@media screen and (max-width: 360px), 
       screen and (max-width: 320px) { 
        
        #schedule-image {
            height: 150vh;
        }
        .container.container-schedule {
            padding-top: 10vh;
        }
}

@media screen and (max-width: 414px), 
       screen and (max-width: 576px) { 
        
        #schedule-image {
            height: 120vh;
        }
}

/* ----------------------------pricing */

.pricing-bg {
    background: #271B29;
    height: 100vh;  
}

div.line {
    position: relative;
    top: 25vh;
    height: 180px;
    width: 100%;
    background-color: #3a744742;
}

.card-group {
    position: relative;
    top: -8vh;
    z-index: 2;
}

.card.card-fee  {
    background-color: whitesmoke; 
}

.card.card-gym {
    background-color: #7bd68f;
}

/*for Ipad Pro*/
@media screen and (max-width: 1024px) {
    div.card-group {
        top: -4.5vh;
    } 
}

@media screen and (max-width: 992px) { 
    div.container.group-container  {
        padding-left: 0;
        padding-right: 0;
    }
}

/*for Ipad*/
@media screen and (max-width: 768px) {
    div.card-group {
        top: -6.5vh;
    }
}

@media screen and (max-width: 767px) { 
    div.line {
        height: 0;
    }

    div.card-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        top: -17vh;
    }
}

@media screen and (max-height: 736px) {
    .pricing-bg {
        height: 110vh;
    }
} 

@media screen and (max-width: 576px) {
    .card.card-fee, 
    .card.card-gym   { 
        -webkit-box-shadow: 5px 5px #38503f; 
                box-shadow: 5px 5px #38503f;
    }
}

@media screen and (max-width: 360px) {
    .pricing-bg {
        height: 130vh;
    }
}

@media screen and (max-width: 320px) {
    .pricing-bg {
        height: 145vh;
    }
}

/* ----------------------------contact */

.contact-col {
  position: relative;
  z-index: 3;
  background-color: rgba(235, 132, 192, 0.7);
  border-radius: 10px;
  margin-top: 10vh;
  padding-top: 14px;
  -webkit-box-shadow: 5px 5px 10px  rgba(61,43,61,1);
          box-shadow: 5px 5px 10px  rgba(61,43,61,1);
}

.btn.btn-danger {
  margin-bottom: 14px;
}


.feedback-bold  {
   font-weight: bold;
}

.label-white {
     color: white;
}


/* ----------------------------modal-contact */

div.modal-header,
div.modal-footer {
    background: #660033;
    border: none;
    box-shadow:  1px 1px 7px rgb(29, 61, 42);
}

div.modal-footer {
    box-shadow:  1px -1px 7px rgb(29, 61, 42);
}

.col-form-label,
.btn.btn-light {
    color: #3e2944;
}

div.modal-content {
    border: none;
}

.fa-times {
    color: white;
}





