
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Oswald:wght@400;469&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
    font-family:'Lato', sans-serif;
    color: #3e2944;
    font-size: 18px;
    padding: 0;
    border: 0;
    margin: 0;
    word-spacing: 1px;
}



.row {
    margin-right: 0 !important; 
    margin-left: 0 !important; 
}

h5 { 
text-align: center;
}

h5 > strong {
text-transform: uppercase;
font-family: 'Oswald', sans-serif;
letter-spacing: 2px;
font-size: 20px;
}

p strong .text-center {
    text-align: center;
}

/* ----------------------------navbar */

.navbar-nav {
    font-weight: 700;
}

.navbar-nav li{
  padding-left:8px;
}

.navbar {
    position: fixed;
    margin: 0; 
    border: 0;
    z-index: 2;
    color: whitesmoke;
}

.navbar-brand {
    text-shadow: 2px 2px black;
    font-size: 1.5em !important;
    font-weight: bold;
    font-family: 'Kaushan Script';
    letter-spacing: 1px;
    color: whitesmoke;

}

.nav-link:hover {
    color: rgb(233, 233, 233) !important;
    text-decoration: underline white !important;
}


/* ---------------------------background-images */

#start-image {
  height: 100vh;
  background: url("../images/gray1.jpg") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

#about-image {
    background-image: url("../images/aikidotext.png");
    background-repeat: no-repeat;
    background-position: center;

}

/* ----------------------------text-box on start */

.info-row {
    position: relative;
    top: 120px;
    right: 0;
    padding: 0;
    margin: 0;
   }

.text-boxed {
  background: rgba(255, 255, 255, 0.863);
  word-wrap: break-word;
  overflow: hidden;
  padding-top: 10px;
  font-weight: 500;
  font-size: 17px;
  margin-left: 50px;
  margin-right: 50px;
}

#info-p {
    padding-left: 20px;
    padding-right: 20px;
}


.info-center {
    text-align: center;
}
/* ----------------------------buttons */

.btn.btn-outline-light {
    padding: 7px 17px;
    font-family:'Lato', sans-serif;
    background-color: #774f4f;
    color: whitesmoke;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn.btn-outline-light:hover {
    background-color: whitesmoke;
    border: #774f4f 1px solid;
}

.navbar .navbar-toggler {
    border: none; 
}


.navbar-toggler:hover {
    background-color: #291d1d60; 
} 

#font-toggler { 
    color: whitesmoke; 
    font-size: 28px;
}

/* ----------------------------about */

.about-container {
 padding-bottom: 50px;
 padding-top: 50px;
}

.col-about {
    padding-top: 30px;
    padding-bottom: 30px;
}

.row-about {
    margin-right: 10px !important;
    margin-left: 10px !important;
}


@media screen and (min-width: 1400px) {
    .row-about{
        margin-right: 100px !important;
        margin-left: 100px !important;
    }
}

@media screen and (max-width: 991px) {
    #about-image {
        background-image: none;
    }
    
    .about-container {
    padding-bottom: 0px;
    padding-top: 0;
    } 

    .row-about-last {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 767px) {
   .col-sm-9 {
        margin: 0 auto;
    }

    .col-about {
    background: white; 
    }

    #about-image {
    background: #660033; 
    }

    .row-about-last {
        padding-bottom: 0;
    }

   .col-about-last {
    padding-bottom: 60px;
    }

    .col-about {
        border: none;
        outline: none;
    }
}

/* ----------------------------video */

.video-container {
    padding-top: 150px;
    padding-bottom: 100px;
}

#video-background-color {
    background: #e1e1e3;
}

/* ----------------------------qoute */

.qoute-container {
  border-top: 15px solid #660033;
  border-bottom: 15px solid #660033;
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 700px;
  font-weight: bold;
}

#qoute::before {
  font-family: FontAwesome;
  content: '\f10e'; 
  font-size: 30px;
}

/* ----------------------------gallery */

.gallery-background-color {
    background-color: #b4b4b9;
}

#carouselExampleControls {
    padding-top: 50px;
    padding-bottom: 100px;
}

.carousel-item {    /* copied code from here https://stackoverflow.com/questions/34425898/making-all-images-appear-with-the-same-height-in-bootstrap*/
    position: relative;
    padding-bottom: 80%;
    overflow: hidden;
}

.carousel-item > img {
  position: absolute;
  top:0;
  left:0;
  height: 80%;
}

/* ----------------------------footer */

.container-footer {
  padding-top: 23px;
  padding-bottom: 11px;
  background-color: black;
}
    
.social-link  {
    display: inline;
    letter-spacing: 10px;
    font-size: 20px;
  }

.social-link a:hover,
.social-link i:hover {  
 color: #d682aa;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
}
  
.footer-p,
.social-link i {
    color: gray;
}

.container-copyright{
  background-color: #3e2944;
  
}

#copy-p {
    color:gray;
    padding-top: 13px;
}




